.m-tree-menu{
  user-select: none;
  .menu-list{
    overflow: hidden;
    width: 280px;
    &.menu-list-0{
      text-indent: 8px;
      background-color: #000;
    }
    &.menu-list-1{
      text-indent: 16px;
      background-color: #333;
    }
    &.menu-list-2{
      text-indent: 24px;
      background-color: #555;
    }
    &.menu-list-3{
      text-indent: 32px;
      background-color: #777;
    }
    &.menu-list-4{
      text-indent: 40px;
      background-color: #999;
    }

    .menu-item{
      cursor: pointer;
      & > .menu-list{
        height: 0;
      }
      &.active{
        .menu-item-txt{
          color:#000;
          background-color: #6ea1ff;
        }
      }
      &.open{
        & > .menu-list{
          height: auto;
        }
      }

    }

    .menu-item-txt{
      height: 50px;
      line-height: 50px;
      color:#fff;

      @media (any-hover: hover) {
        &:hover{
          color:#000;
          background-color: #6ea1ff;
        }
      }
      &.with-sub{
        padding-left: 10px;
      }
    }
  }
}
