.m-tree-menu{
  user-select: none;
  .folder-wrapper{
    line-height: 20px;
    font-size: 12px;
    padding-left: 20px;
    color:#ccc;
    >.name{
      height: 22px;
      margin-left: -20px;
      border:1px solid transparent;
      cursor: pointer;
      text-indent: 20px;
      &.name-directory{
        background: url(../img/arrow-right.png) no-repeat 3px center /14px;
        &.open{
          background-image: url(../img/arrow-down.png);
        }
      }

      &:hover{
        background-color: #37373d;
        border-color:#37373d;
      }

      &.active{
        color:#e2c08d;
      }
      &.focus{
        border-color:#007fd4;
      }
    }
  }
}
