// 不能加.css后缀  否则找不到
@import "~UTILS/reset";

body,#app{
  height: 100%;
}


.f-thide {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


// 464647

/*定义滚动条高宽及背景
高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 12px;
}

// /*定义滚动条轨道
// 内阴影+圆角*/
::-webkit-scrollbar-track {
  background-color: #1e1e1e;
}

// /*定义滑块
// 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  background-color: #464647;
}
